.loading-element {
  position: relative;
}

.loading-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-text {
  margin: 0;
  font-weight: 700;
  color: grey;
  text-align: center;
}

.loading-text:after {
  animation: doted-loading 3s infinite linear;
  content: " ";
}

@keyframes doted-loading {
  0% {
    content: "...";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

